*{
    box-sizing: border-box;
}

h2, h3{
    margin: 0;
    font-family:'Trebuchet MS';
}

body{
    background-color: rgb(127, 202, 245);
    margin: 20px;
    font-family: sans-serif;
}

.wrapper{
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}

header{
    padding: 50px;
    overflow: hidden;
}

header > #logo{
    font-size: 2em;
    float: left;
}

nav{
    float: right;
    font-family: 'trebuchet MS';
    color: #000000;
    font-size: 20px;
}
main{
    padding: 50px;
    overflow: hidden;
}

section{
    width: 70%;
    float: left;
}

article{
    padding: 30px 0;
    border-bottom: 1px solid #cccccc;
}

article:last-child{
    border-bottom: 0px;
}
aside{
    width: 30%;
    float: right;
    background-color: aliceblue;
    padding: 10px;
}

aside h3{
    background-color: cadetblue;
    color: #ffffff;
    padding: 10px;
}

aside a{
    color: #000000;
}
footer{
    padding: 20px;
    border-top: 1px solid #cccccc;
    text-align: center;
}